body{
    width:100%;
    margin: 0 auto;
    font-family: Roboto;
}

header{
    height: 80px;
    width: 80%;
    margin: 30px auto 0 auto;
}

.logo{
    display: inline-block;
    float: left;
    height: 81px;
    width: 240px;
    cursor: pointer;
}

#question{
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
    float: right;
}

#searchField{
    border: 1px solid grey;
    position: relative;
    float: right;
    width: 35%;
    height: 35%;
    margin: 24px 15px 0 0;
    border-radius: 8px;
}

#user-register{
    height: 24px;
    width:80%;
    overflow: auto;
    margin: 0 auto;
}

.submit{
    border:1px solid white;
    text-decoration:none;
    font-family: Sansation;
    color: #000000;
    background: none;
    cursor: pointer;
}

.submit:hover{
    color: #5ce600;
}

.register, .usrName, .pass, .submit{
    font-size: 14px;
    margin: 0 0 0 15px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.submit{
    margin-right: 15px;
}

.register{
    margin: 2px 0 0 15px;
    color: #000000;
}

.regi{
    margin: 3px 0 0 15px;
    color: black;
}

.usrName, .pass{
    border: 1px solid grey;
    border-radius: 3px;
    height: 20px;
}

#nav-div{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #0D496B;
    margin: 20px 0 20px 0;
}

#nav-div:after{
    clear: both;
}

#nav-link{
    font-size: 22px;
    color: grey;
}

.nav-link-end{
    font-size: 13px;
    color: #0D496B;
}

.navigation-link:after{
    clear: both;
}

.navigation-link{
    width: 100%;
}

.navigation-link1{
    font-family: Sansation;
    font-size: 14px;
    color: #0D496B;
    height: 40px;
    background-color: #f0f0f0;
    margin-bottom: 1%;
}

.center{
    margin: 12px 0 0 0;
    display: inline-block;
    position: relative;
}

#answer-separator{
    font-size: 22px;
    font-weight: bold;
    color: grey;
    vertical-align: text-bottom;
}

.category{
    display: inline-block;
    float: right;
    font-size: 15px;
    margin: 0.8% 0 0 3%;
    color: black;
}

.category:hover{
    color: #5ce600;
}

.categories-li, ul.acordeon{
    color: grey;
    font-size: 20px;
    margin:5px 0 5px 0;
}

.categories-li:hover, .acordeon:hover{
    color: #0D496B;
    font-weight: bold;
}

.acordeon > li{
    font-weight: normal;
}

ul.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li.nav-li{
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.clicked{
    background-color: #f0f0f0;
    font-weight: bold;
    color: #0D496B !important;
}

#main-container{
    min-height: 900px;
    width:80%;
    overflow: auto;
    margin: 0 auto;
}

#aside{
    display:inline-block;
    position: relative;
    width: 25%;
    float: right;
}

.showLi{
    display: block;
    color: grey;
    margin: 5px 0 5px 0;
    text-indent: 15px; text-decoration: none;
}

.hideLi{
    display: none;
}

li.acordeon-li:hover{
    color: #0D496B;
}

#forum-main, #registration-form{
    border-top: 1px solid lightgrey;
    display: inline-block;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 5px;
}

#registration-form{
    padding-top: 10px;
}

#forum-menu, #registration-header{
    display: inline-block;
    margin-top:3%;
    vertical-align: bottom;
    width: 100%;
    height: 10%;
}

.forum-post{
    padding: 15px;
    min-height: 100px;
    overflow: auto;
}

.forum-answer{
    padding: 15px;
    display: inline-block;
    min-height: 100px;
    overflow: auto;
    position: relative;
    line-height: 150%;
    width: 95%;
    height: auto;
    font-size: 14px;
    margin: 0 0 10px 0;
    float: right;
}

.comment{
    width: 90%;
}

.forum-post-mini{
    padding: 15px;
    height: 45px;
}

.blue{
    background-color: #0D496B;
    color: #f0f0f0;
}

.white{
    background-color: #f6f6f6;
    color: #000000;
}

.forum-question{
    display: inline-block;
    position: relative;
    line-height: 150%;
    width: 85%;
    height: auto;
    font-size: 14px;
    margin-top: 0;
}

.under-question{
    display: inline-block;
    position: relative;
    width: 96%;
    margin: 5px 0 0 0;
    height: 15px;
}

.under-question1{
    display: inline-block;
    position: relative;
    width: 97%;
    margin: 5px 0 0 0;
}

.sm{
    width: 60%;
}

.question-info{
    display: inline-block;
    position: relative;
    height: 95%;
    width:10%;
    float: right;
}

.divche{
    position: relative;
    width: 100%;
    margin: 0 0 4px 0;
}

.info{
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.divc{
    display: inline-block;
    float: left;
    border-top: 1px solid #0D496B;
    border-bottom: 1px solid #0D496B;
    border-left: 1px solid #0D496B;
    width: 40px;
    height: 40px;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

.first{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #5ce600;
}

.last{
    border-right: 1px solid #0D496B;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.inf{
    display: inline-block;
    position: relative;
    margin: 25%;
}

.user, .date{
    font-size: 13px;
}

.user{
    color: #0D496B;
    font-weight: bold;
}

.user:hover{
    color: #5ce600;
}

.user, .category{
    text-decoration: none;
}

.user::before{
    background: url(Pics/person.png);
}

.userreg::before{
    background: url(Pics/person.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-size: 100%;
    margin-bottom: -3px;
    margin-right: 4px;
}

.userreg{
    color: #5ce600;
}

ul.acordeon::before{
    background: url(Pics/arrow.png);
}

.info-result::before{
    background: url(Pics/star.png);
}

.info-up::before{
    background: url(Pics/up-icon.png);
}

.info-up:hover{
    color: #5ce600;
    cursor: pointer;
    font-weight: bolder;
}

.info-down::before{
    background: url(Pics/down-icon.png);
}

.info-down:hover{
    color: #5ce600;
    cursor: pointer;
    font-weight: bolder;
}

.info-seen::before{
    background: url(Pics/eye-icon.png);
}

.user::before, .info::before, ul.acordeon::before{
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-size: 100%;
    margin-bottom: -3px;
    margin-right: 4px;
}

.date{
    margin-left: 25px;
}

.dated{
    color: black;
    font-size: 13px;
    margin: 0 5px 0 0;
}

.categories-ul, .acordeon{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.reg:hover{
    cursor: pointer;
    color: #5ce600;
}

.answer{
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    color: #0D496B;
}

h4{
    margin: 0 0 5px 0;
}

h3, h5{
    display: inline-block;
    margin: 0;
}

h3{
    color: #0D496B;
    margin-top: 0;
    float: left;
}

h2{
    display: inline-block;
    position: relative;
    font-size: 24px;
    width: 80%;
    margin: 0 0 15px 0;
}

.h2blue{
    color: #0D496B;
    cursor: pointer;
}

.h2blue:hover{
    color: #5ce600;
}

h5{
    position: relative;
    font-size: 15px;
    color: #474155;
    cursor: pointer;
    float: right;
}

h5:hover{
    color: #5ce600;
}

.hidden{
    display:none;
}

.show{
    display:inline-block;
}
.reg-topic{
    display: inline-block;
    margin: 1.5% 0 0 2%;
}

.reg-field{
    display: inline-block;
    float: right;
    border: 1px solid grey;
    border-radius: 4px;
    width: 40%;
    height: 30px;
    margin: 0 2% 0 0;
}

.reg-divche{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 4% 0 5% 0;
}

.register-info{
    display: inline-block;
    position: relative;
    font-size: 10px;
}

.reg-submit{
    font-size: 18px;
}

.small{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.right{
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #0D496B;
}

footer .heading {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.footer-link-container{
    display: inline-block;
    position: relative;
    width: 20%;
    float: left;
}

footer .footer-link-container ul {
    list-style-type: none;
    margin: 0;
}

footer .footer-link-container ul li a {
    color: lightgrey;
    line-height: 1.4rem;
}

footer .footer-link-container ul li a:hover,
footer .footer-link-container ul li a:active,
footer .footer-link-container ul li a:focus {
    color: white;
}

footer .copyright {
    position: relative;
    background-color: black;
    height: 70px;
}

footer .copyright .container {
    height: 100%;
}

footer .copyright .text {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .copyright p {
    margin: 0;
}

footer .copyright ul {
    list-style: none;
    margin: 0;
}

footer .copyright ul li {
    display: inline-block;
    margin: 0 15px;
}

footer .copyright ul li a {
    color: #fff;
}

footer .copyright ul li a:hover,
footer .copyright ul li a:active,
footer .copyright ul li a:focus {
    color: rgba(255, 255, 255, .4);
}


#first-post {
    margin-left: 0px;
}

.in-post-heading {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    z-index: 106;
}

h5.in-post-heading {
    margin-top: 50px;
    margin-left: 20px;
}

.post-vote {
    margin-bottom: 10px;
}

.post-vote a {
    margin: 10px;
}

.nested {
    margin-top: 30px;
    margin-left: 50px;
}

.nested-icons {
    width: 310px;
}

.in-post-heading {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    z-index: 106;
}

.nested {
    margin-left: 50px;
}

footer {
    background-color: #0D496B;
}

#notification-footer {
    background-color: #7B5F88;
    width: 302px;
    height: 32px;
    z-index: 24;
}

.footer-text {
    font-family: "Roboto";
    color: white;
    line-height: 1.8;
    text-align: center;
    z-index: 43;
}

footer, .padding-lg{
    min-height: 280px;
    width:100%;
    overflow: auto;
    margin: 20px 0 0 0;
}

.footer-ul {
    font-size: 12px;
}